@import "~bootstrap/scss/bootstrap";

.header-bottom{
  height: 300px;
  background-image: url('../img/jumbotron.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  min-height: 60vh;
  background-color: #1C1C1C;
}

.card {
  height: 100%;
  img{
    max-height: 300px;
    object-fit: cover;
  }
}

.bg-contact{
  background-image: url('../img/footer-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-left{
  background-image: url('../img/dc-logo-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer{
  background-color: #303030;
  padding: 30px 0;
  .social-link{
    width: 40px;
    height: 40px;
    background-color:#797979 ;
    border: 2px solid transparent;
    transition: border-color 200ms ease-in-out;
    cursor: pointer;
    &:hover{
      border-color: #fff;
    }
    a{
      color:  #303030;
      padding: 20px;
    }
  }
}




